$primary: #174c4f;
$primary2: #28858a;
$red: #d60000;
$darkModeRed: #e34652;
$rose: #fcdad4;
$darkModeRose: #5a2133;
$lightBlue: #d5ebfc;
$blue: #0051c7;
$darkModeBlue: #1c3754;
$darkModeLightBlue: #4386dc;
$gray: #a1a1a1;
$blueGray: #858b9b;
$darkBlue: #020413;
$darkGray: #2b2c30;
$black: #000;
$green: #05ab15;
$darkModeGreen: #309f3c;
$borderColor: #d4d6dc;
$darkModeBorderColor: #404040;
$cardBorderColor: #f3f3f3;
$boxShadowColor: #dee1e7;
$indigo: #28367f;
$whiteOff: #eee;
$white: #fff;
$white2: #f1f1f1;
$listHoverColor: #f8fafb;
$darkModeListHoverColor: #2f3031;
$darkModeCardBackgroundColor: #1b1f24;
$darkModeCardBorderColor: #1f2429;

$header-height: 64px;
$trade-body-width: 1370px;
$cardBorderRadius: 6px;
$responsiveSize1: 1365px;
$responsiveSize2: 1250px;
