$primary: #174c4f;
$red: #d60000;
$blue: #0051c7;
$lightGreen: #17c128;
$borderColor: #d4d6dc;
$boxShadowColor: #dee1e7;
$indigo: #28367f;
$white: #fff;

$header-height: 64px;
$trade-body-width: 1370px;
