@import '@common/global.scss';
@import '@common/mixins.scss';

.my {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 100vw;
	padding: 96px 32px 32px 32px;
	box-sizing: border-box;
}

.my__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 950px;
	margin: 8px;
	box-sizing: border-box;

	background-color: white;
	border-radius: $cardBorderRadius;
	box-shadow: 2px 2px 4px $boxShadowColor;

	@include darkModeCardStyle();
	@include scrollBarStyle();
}

.my__tab {
	width: 100%;

	display: flex;
	align-items: center;

	border-bottom: 1px solid $borderColor;

	.dark-theme & {
		border-bottom: 1px solid $darkModeBorderColor;
	}

	.my__tab-item {
		width: 150px;
		height: 48px;
		padding: 0px 32px 0px 32px;
		box-sizing: border-box;

		display: flex;
		align-items: center;
		justify-content: center;

		cursor: pointer;

		&:hover {
			font-weight: bold;
		}

		&.selected {
			font-weight: bold;
			border-bottom: 4px solid $primary;
		}

		.dark-theme &.selected {
			border-bottom: 4px solid $primary2;
		}
	}
}

.my__legend {
	width: 100%;
	height: 32px;
	padding: 0px 16px;
	box-sizing: border-box;
	font-size: 12px;
	font-weight: 700;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: $blueGray;
	border-bottom: 1px solid $borderColor;
	background-color: $white2;

	.dark-theme & {
		color: $gray;
		background-color: $darkGray;
		border-bottom: 1px solid $darkModeBorderColor;
	}

	& * {
		width: 100%;
	}

	& .my__legend-left {
		text-align: left;
	}

	& .my__legend-number {
		text-align: right;
	}

	& .my__legend-center {
		text-align: center;
	}
}

.my-legend-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.my__item {
	width: 100%;
	height: 48px;
	padding: 0px 10px;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;

	font-size: 12px;

	& + & {
		border-top: 1px solid $borderColor;
	}

	.dark-theme & + & {
		border-top: 1px solid $darkModeBorderColor;
	}

	& > * {
		width: 100%;
	}

	.my__item-title {
		font-weight: bold;
	}

	.my__item-number {
		text-align: right;
	}

	.my__item-center {
		text-align: center;
	}

	.my__item-unit {
		color: $gray;
		font-size: 11px;

		.dark-theme & {
			color: $blueGray;
		}
	}

	.my__item--up {
		color: $red;

		.dark-theme & {
			color: $darkModeRed;
		}
	}

	.my__item--down {
		color: $blue;

		.dark-theme & {
			color: $darkModeLightBlue;
		}
	}
}
