@import '@common/mixins.scss';

.my-orders {
	width: 100%;

	@include darkModeCardStyle();
}

.my-order-items {
	@include scrollBarStyle();

	display: block;
	max-height: 60vh;
	overflow-y: scroll;
	padding-left: 6px;
}

.cancel-order-btn {
	@include disableDefaultButtonStyle();

	background-color: $green;
	padding: 7px 10px;
	color: $white;
	border-radius: 4px;
	font-size: 14px;
	margin-left: 28px;
	cursor: pointer;

	.dark-theme & {
		background-color: $darkModeGreen;
		color: $white2;
	}
}
