@import '@common/mixins.scss';

.my-transactions {
	width: 100%;

	@include darkModeCardStyle();
}

.transaction-items {
	@include scrollBarStyle();

	display: block;
	max-height: 60vh;
	overflow-y: scroll;
	padding-left: 6px;
}
