@import '@common/mixins.scss';

.my-transactions {
	width: 100%;
	height: 60vh;

	@include darkModeCardStyle();
}

.transaction-items {
	@include scrollBarStyle();

	display: block;
	max-height: 60vh;
	overflow-y: scroll;
}
