@import '@common/global.scss';
@import '@common/mixins.scss';

.order-container {
	width: 100%;
	height: 100%;
}

.order-header {
	font-weight: 700;
	text-align: center;
	padding: 10px 0;
	border-bottom: 4px solid $primary;

	.dark-theme & {
		border-bottom: 4px solid $primary2;
	}
}

.order-content {
	max-height: 470px;
	overflow-y: auto;
	padding-left: 6px;
	@include scrollBarStyle();

	@media screen and (max-width: $responsiveSize2) {
		max-height: 440px;
	}
}

.order-table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.order-row {
	height: 40px;
	letter-spacing: 1px;
}

.order-row-price-data {
	width: 30%;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;

	@media screen and (max-width: $responsiveSize2) {
	}
}

.order-row-volume {
	position: relative;
	padding: 6px 0;
	font-size: 12px;
	width: 35%;
}

.sell-volume {
	text-align: right;

	&.active {
		cursor: pointer;
	}

	&.active:hover {
		background-color: #f4faff;
	}

	.dark-theme & {
		&.active:hover {
			background-color: darken($darkModeLightBlue, 10%);
		}
	}
}

.sell-volume-bar {
	display: inline-block;
	background-color: $lightBlue;
	height: 100%;
	margin: 6px 0;

	.dark-theme & {
		background-color: $darkModeLightBlue;
	}
}

.buy-volume {
	text-align: left;

	&.active {
		cursor: pointer;
	}

	&.active:hover {
		background-color: #f9f0ef;
	}

	.dark-theme & {
		&.active:hover {
			background-color: lighten($darkModeRose, 10%);
		}
	}
}

.buy-volume-bar {
	display: inline-block;
	background-color: $rose;
	height: 100%;
	margin: 6px 0;

	.dark-theme & {
		background-color: $darkModeRose;
	}
}

.order-sell {
	border-top: 1px solid #c1e4ff;
	background-color: $lightBlue;

	.dark-theme & {
		border-top: 1px solid #3170a1;
		background-color: $darkModeLightBlue;
	}

	&:hover {
		background-color: darken($lightBlue, 10%);
	}

	.dark-theme & {
		&:hover {
			background-color: darken($darkModeLightBlue, 10%);
		}
	}
}

.volume-sell-text {
	position: absolute;
	margin: 0;
	right: 1px;
	top: 12px;
}

.volume-buy-text {
	position: absolute;
	margin: 0;
	left: 1px;
	top: 12px;
}

.order-buy {
	border-top: 1px solid #f7cdc6;
	background-color: $rose;

	.dark-theme & {
		border-top: 1px solid #af5040;
		background-color: $darkModeRose;

		&:hover {
			background-color: darken($darkModeRose, 10%);
		}
	}

	&:hover {
		background-color: darken($rose, 10%);
	}
}

.total-volumes {
	display: flex;
	font-size: 14px;
	letter-spacing: 1px;
	background-color: $white2;
	border-top: 1px solid $cardBorderColor;
	border-end-start-radius: $cardBorderRadius;
	border-end-end-radius: $cardBorderRadius;
	text-align: center;
	color: $darkBlue;

	& > div {
		padding: 9px 5px;
	}

	& > .total-buy-volume {
		padding-right: 11px;
	}

	& > .total-sell-volume {
		padding-left: 11px;
	}

	.dark-theme & {
		color: $gray;
		background-color: $darkGray;
		border-top: 1px solid $darkModeBorderColor;
	}
}

.total-sell-volume {
	width: 35%;
}

.total-volumes-text {
	width: 30%;
	font-size: 16px;
	border-left: 1px solid $cardBorderColor;
	border-right: 1px solid $cardBorderColor;

	.dark-theme & {
		border-left: 1px solid $darkModeBorderColor;
		border-right: 1px solid $darkModeBorderColor;
	}
}

.total-buy-volume {
	width: 35%;
}
