@import '@common/global.scss';
@import '@common/mixins.scss';

.order-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: calc(100% - 42px);
}

.order-header {
	font-weight: 700;
	text-align: center;
	padding: 10px 0;
	border-bottom: 4px solid $primary;

	.dark-theme & {
		border-bottom: 4px solid $primary2;
	}
}

.order-content {
	max-height: 470px;
	overflow-y: auto;
	@include scrollBarStyle();

	@media screen and (max-width: $responsiveSize2) {
		max-height: 440px;
	}
}

.order-table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.order-row {
	height: 40px;
	letter-spacing: 1px;
}

.order-row-price {
	padding: 0;
}

.order-row-price-data {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;

	@media screen and (max-width: $responsiveSize2) {
	}
}

.order-row-amount {
	position: relative;
	font-size: 12px;
	padding: 0;
	width: 35%;
}

.amount-button {
	background: none;
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	padding: 5px 0;

	.buy-amount & {
		justify-content: flex-start;
	}

	.sell-amount & {
		justify-content: flex-end;
	}
}

.sell-amount {
	text-align: right;

	&.active {
		cursor: pointer;
	}

	&.active:hover {
		background-color: #f4faff;
	}

	.dark-theme & {
		&.active:hover {
			background-color: darken($darkModeLightBlue, 10%);
		}
	}
}

.amount-bar {
	display: inline-block;
	height: 100%;
	margin: 6px 0;
	padding: 3px 0;
}

.sell-amount-bar {
	background-color: $lightBlue;

	.dark-theme & {
		background-color: $darkModeLightBlue;
	}
}

.buy-amount {
	text-align: left;

	&.active {
		cursor: pointer;
	}

	&.active:hover {
		background-color: #f9f0ef;
	}

	.dark-theme & {
		&.active:hover {
			background-color: lighten($darkModeRose, 10%);
		}
	}
}

.buy-amount-bar {
	background-color: $rose;

	.dark-theme & {
		background-color: $darkModeRose;
	}
}

.order-sell {
	border-top: 1px solid #c1e4ff;
	background-color: $lightBlue;

	.dark-theme & {
		border-top: 1px solid #3170a1;
		background-color: $darkModeLightBlue;
	}

	&:hover {
		background-color: darken($lightBlue, 10%);
	}

	.dark-theme & {
		&:hover {
			background-color: darken($darkModeLightBlue, 10%);
		}
	}
}

.amount-text {
	position: absolute;
	margin: 0;
	top: 14px;

	&.buy {
		left: 1px;
	}

	&.sell {
		right: 1px;
	}

	.dark-theme & {
		color: $white2;
	}
}

.order-buy {
	border-top: 1px solid #f7cdc6;
	background-color: $rose;

	.dark-theme & {
		border-top: 1px solid #af5040;
		background-color: $darkModeRose;

		&:hover {
			background-color: darken($darkModeRose, 10%);
		}
	}

	&:hover {
		background-color: darken($rose, 10%);
	}
}

.total-amount {
	display: flex;
	font-size: 14px;
	height: 37px;
	letter-spacing: 1px;
	background-color: $white2;
	border-top: 1px solid $cardBorderColor;
	border-end-start-radius: $cardBorderRadius;
	border-end-end-radius: $cardBorderRadius;
	text-align: center;
	color: $darkBlue;

	& > div {
		padding: 9px 5px;
	}

	& > .total-buy-amount {
		padding-right: 11px;
	}

	& > .total-sell-amount {
		padding-left: 11px;
	}

	.dark-theme & {
		color: $gray;
		background-color: $darkGray;
		border-top: 1px solid $darkModeBorderColor;
	}
}

.total-sell-amount {
	width: 35%;
}

.total-amount-text {
	width: 30%;
	font-size: 16px;
	border-left: 1px solid $cardBorderColor;
	border-right: 1px solid $cardBorderColor;

	.dark-theme & {
		border-left: 1px solid $darkModeBorderColor;
		border-right: 1px solid $darkModeBorderColor;
	}
}

.total-buy-amount {
	width: 35%;
}

.no-quotes-notice {
	text-align: center;
}
