@import '@common/global.scss';
@import '@common/mixins.scss';

.balance {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	height: 100vh;
	padding: 96px 32px 32px 32px;
	box-sizing: border-box;
}

.my__balance {
	width: 100%;
}

.balance__conatiner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 950px;
	margin: 8px;
	box-sizing: border-box;

	background-color: white;
	border-radius: $cardBorderRadius;
	box-shadow: 2px 2px 4px $boxShadowColor;

	@include darkModeCardStyle();
}

.balance__wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.balance-items {
	display: block;
	max-height: 60vh;
	overflow-y: scroll;
	padding-left: 6px;
	@include scrollBarStyle();
}

.balance__button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 48px;
	margin: 8px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;

	text-decoration: none;
	cursor: pointer;

	color: #fff;
	background-color: $primary2;

	&:hover {
		background-color: $primary;
		transition: background-color 0.5s;
	}

	&:disabled {
		background-color: #bbb;
		cursor: default;
	}
}

.balance__box {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 64px;
	padding: 16px;
	margin: 8px;
	box-sizing: border-box;

	font-size: 13px;
	line-height: 10px;

	&.balance__box--fill {
		background-color: #eee;

		.dark-theme & {
			background-color: $darkModeCardBorderColor;
			color: $white;
		}
	}

	&.balance__box--border {
		border: 1px solid $borderColor;

		.dark-theme & {
			border: 1px solid $darkModeListHoverColor;
			color: $white;
		}
	}
}

.balance__label {
	font-size: 10pt;
	font-weight: bold;
	margin-left: 8px;
}

.balance__input {
	width: 230px;
	height: 32px;
	padding: 8px;
	margin: 8px;
	box-sizing: border-box;
	background-color: transparent;

	border: 1px solid #ccc;

	&:focus {
		outline: none;
		border: 1px solid $primary;
	}

	.dark-theme & {
		color: $white;
		border: 1px solid $darkModeListHoverColor;
	}
}
