@import '@common/global.scss';
@import '@common/mixins.scss';
$gap: 20px;
$aside-width: 400px;

.trade {
	display: flex;
	justify-content: center;
}
.trade-container {
	display: flex;
	flex-direction: row;
	max-width: 1440px;
	height: fit-content;
	padding: $gap;
	gap: $gap;
	box-sizing: border-box;
}
.aside-bar {
	position: sticky;
	top: 65px;
	height: calc(100vh - $header-height - $gap * 2);
	width: $aside-width;
	flex-shrink: 0;
	margin-top: $header-height;
	border-radius: $cardBorderRadius;
	box-shadow: 2px 2px 4px $boxShadowColor;

	background-color: #fff;

	@include darkModeCardStyle();

	@media screen and (max-width: $responsiveSize1) {
		width: 380px;
	}

	@media screen and (max-width: $responsiveSize2) {
		width: 360px;
	}
}
.trade-body {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: $gap 0px;
	margin-top: $header-height;
}
.trade-chart {
	width: 950px;
	height: 400px;
	box-shadow: 2px 2px 4px #dee1e7;
	border-radius: $cardBorderRadius;
	background-image: url('@assets/stock-chart-placeholder.png');
	background-size: cover;

	@include darkModeCardStyle();

	.dark-theme & {
		background-image: url('@assets/stock-chart-placeholder-dark.png');
	}
}
.trade-status {
	display: flex;
	flex-direction: row;
	height: fit-content;
	gap: 0px $gap;
}
.trade-order {
	flex: 1;
	height: 100%;
	box-shadow: 2px 2px 4px #dee1e7;

	background-color: $white;
	border-radius: $cardBorderRadius;

	@include darkModeCardStyle();
}
.trade-bid-ask {
	flex: 1;
	height: 100%;
	box-shadow: 2px 2px 4px #dee1e7;

	background-color: #fff;
	border-radius: $cardBorderRadius;

	@include darkModeCardStyle();
}
.trade-conclusion {
	min-height: 400px;
	background-color: $white;
	box-shadow: 2px 2px 4px #dee1e7;

	@include darkModeCardStyle();
}

.trade__loading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50vh;

	& > svg {
		width: 30px;
		height: 30px;
		animation: loadingSpinner 1.5s infinite ease;
	}

	& > span {
		margin-top: 5px;
	}
}

@keyframes loadingSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
