$gap: 15px;
$header-height: 80px;
$aside-width: 400px;

.trade-header {
	position: fixed;
	width: 100%;
	min-height: $header-height;
	z-index: 10;

	background-color: lightsteelblue;
}
.trade-container {
	display: flex;
	flex-direction: row;

	width: 100%;
	min-height: calc(100vh - $header-height);
	height: fit-content;
	padding: $gap;
	gap: $gap;
	box-sizing: border-box;

	background-color: #eaecf0;
}
.aside-bar {
	position: fixed;
	height: calc(100vh - $header-height);
	width: $aside-width;
	margin-top: $header-height;
	overflow: scroll;

	background-color: lightpink;
}
.trade-body {
	flex-grow: 1;
	min-width: 900px;
	display: flex;
	flex-direction: column;
	gap: $gap 0px;
	margin-top: $header-height;
	margin-left: $aside-width + $gap;
}
.trade-info {
	height: 100px;

	background-color: lightblue;
}
.trade-chart {
	min-height: 400px;

	background-color: lightgreen;
}
.trade-status {
	display: flex;
	flex-direction: row;
	min-height: 400px;
	gap: 0px $gap;
}
.trade-order {
	flex: 1;
	height: 100%;
	overflow: scroll;

	background-color: lightsalmon;
}
.trade-bid-ask {
	flex: 1;
	height: 100%;

	background-color: lightyellow;
}
.trade-conclusion {
	min-height: 400px;
	overflow: scroll;

	background-color: lightseagreen;
}
