@use '../../common/global.scss';
$gap: 15px;
$aside-width: 400px;

.trade {
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: #eaecf0;
}
.trade-container {
	display: flex;
	flex-direction: row;
	width: global.$trade-body-width;
	height: fit-content;
	padding: $gap;
	gap: $gap;
	box-sizing: border-box;
}
.aside-bar {
	position: fixed;
	height: calc(100vh - global.$header-height - $gap * 2);
	width: $aside-width;
	margin-top: global.$header-height;
	overflow-y: scroll;

	background-color: #fff;
}
.trade-body {
	flex-grow: 1;
	min-width: 900px;
	display: flex;
	flex-direction: column;
	gap: $gap 0px;
	margin-top: global.$header-height;
	margin-left: $aside-width + $gap;
}
.trade-info {
	height: 100px;
	box-shadow: 2px 2px 4px #dee1e7;

	background-color: #fff;
}
.trade-chart {
	min-height: 400px;
	box-shadow: 2px 2px 4px #dee1e7;

	background-color: lightgreen;
}
.trade-status {
	display: flex;
	flex-direction: row;
	min-height: 480px;
	height: fit-content;
	gap: 0px $gap;
}
.trade-order {
	flex: 1;
	height: 100%;
	box-shadow: 2px 2px 4px #dee1e7;

	background-color: global.$white;
}
.trade-bid-ask {
	flex: 1;
	height: 100%;
	box-shadow: 2px 2px 4px #dee1e7;

	background-color: #fff;
}
.trade-conclusion {
	min-height: 400px;
	overflow: scroll;
	box-shadow: 2px 2px 4px #dee1e7;
}
