@import '@common/global.scss';
@import '@common/mixins.scss';

.conclusion-container {
	width: 100%;
	height: 100%;
	border-radius: $cardBorderRadius;
}
.conclusion-title {
	display: flex;
	height: 40px;

	.conclusion-tab {
		position: relative;
		flex: 1;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 700;
		background: none;
		border: none;
		outline: none;
		box-sizing: border-box;
		cursor: pointer;
	}

	.conclusion-tab + .conclusion-tab {
		&::before {
			position: absolute;
			left: 0;
			content: '';
			height: 100%;
			border-left: 1px solid $borderColor;
		}
	}

	.conclusion-tab-clicked {
		border-bottom: 4px solid $primary;
	}

	.dark-theme & {
		.conclusion-tab {
			color: $white2;
		}

		.conclusion-tab-clicked {
			border-bottom: 4px solid $primary2;
		}
	}

	.dark-theme & .conclusion-tab + .conclusion-tab {
		&::before {
			border-left: 1px solid $darkModeBorderColor;
		}
	}
}

.conclusion-content {
	overflow-y: auto;
	height: 340px;

	@include scrollBarStyle();

	.up {
		color: $red;

		.dark-theme & {
			color: $darkModeRed;
		}
	}
	.down {
		color: $blue;

		.dark-theme & {
			color: $darkModeBlue;
		}
	}
}
.conclusion-header {
	display: flex;
	align-items: center;
	height: 30px;
	background-color: #f9fafc;
	color: #858b9b;
	font-weight: 700;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	font-size: 12px;

	.conclusion-timestamp {
		margin-left: 6px;
	}

	.dark-theme & {
		border-top: 1px solid $darkModeBorderColor;
		border-bottom: 1px solid $darkModeBorderColor;
		color: $gray;
		background-color: $darkGray;
	}
}
.conclusion-timestamp {
	flex: 3;
	text-align: left;

	.timestamp-time {
		color: #999;
		margin-left: 5px;
		font-size: 12px;
	}

	.dark-theme & {
		color: $white2;

		.timestamp-time {
			color: $blueGray;
		}
	}
}
.conclusion-total-price {
	flex: 10;
	text-align: right;
	padding: 0 10px;
}
.conclusion-volume {
	flex: 10;
	text-align: right;
}
.conclusion-single-price {
	flex: 10;
	text-align: right;
}
.conclusion-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 34px;
	font-size: 14px;
	padding: 5px 0;
	margin-left: 6px;
	cursor: pointer;

	& + & {
		border-top: 1px solid $borderColor;
	}

	&:hover {
		background-color: $listHoverColor;
	}

	.dark-theme & {
		&:hover {
			background-color: $darkModeListHoverColor;
		}
	}

	.dark-theme & + & {
		border-top: 1px solid $darkModeBorderColor;
	}
}
