@import '@common/global.scss';

.top-bar {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: $primary;
	width: 100%;
	height: $header-height;
	box-shadow: 2px 2px 4px #dee1e7;

	z-index: 10;
}
.top-bar-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: $trade-body-width;
	box-sizing: border-box;
}
