@import '@common/font.scss';
@import '@common/global.scss';
@import '@common/reset.css';

body {
	&.dark-theme {
		background-color: #000000;
	}

	min-width: 1336px;
	background-color: #f0f4fa;
}

#app {
	position: relative;
	font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

a {
	color: unset;
}
