@import '@common/global.scss';

.chart-container {
	position: relative;
	width: 100%;
	height: 100%;

	background-color: $white;
	border-radius: 8px;
}

.chart-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 10%;

	border-start-start-radius: 8px;
	border-start-end-radius: 8px;
	border-bottom: 1px solid #888;
	background-color: #fefefe;
}

.chart-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.chart-candle-graph {
	position: absolute;
	top: 10%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: calc(100% - 100px);
	height: 60%;

	pointer-events: none; 
}

.chart-candle-legend {
	position: absolute;
	top: 10%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 60%;
}

.chart-volume-graph {
	position: absolute;
	top: 70%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: calc(100% - 100px);
	height: 20%;

	pointer-events: none; 
}

.chart-volume-legend {
	position: absolute;
	top: 70%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 20%;
}

.chart-period-legend {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: calc(100% - 100px);
	height: 100%;
}

.chart-volume-cross {
	position: absolute;
	top: 70%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 20%;

	pointer-events: none; 
}
