@import '@common/global.scss';

.chart {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
	background-color: $white;
	border-radius: 8px;

	&.grabbing {
		cursor: grabbing;
	}
}

.chart-container {
	position: relative;

	width: 100%;
	height: 360px;
	cursor: crosshair;

	background-color: $white;
	border-radius: 8px;

	&.grabbing {
		cursor: grabbing;
	}

	.dark-theme & {
		background-color: $darkModeCardBackgroundColor;
	}
}

.chart-menu {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	height: 40px;
	padding-left: 10px;
	box-sizing: border-box;
	cursor: default;

	border-top: 1px solid #888;
	border-end-start-radius: 8px;
	border-end-end-radius: 8px;
	background-color: #fefefe;
}

.chart-menu-item {
	margin: 10px;
	box-sizing: border-box;

	cursor: pointer;
	text-decoration: none;
}

.chart-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

.chart-candle-graph {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: calc(100% - 100px);
	height: 70%;

	pointer-events: none;
}

.chart-candle-legend {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 70%;
}

.chart-volume-graph {
	position: absolute;
	top: 70%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: calc(100% - 100px);
	height: 20%;

	pointer-events: none;
}

.chart-volume-legend {
	position: absolute;
	top: 70%;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: 100%;
	height: 20%;
}

.chart-period-legend {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;

	width: calc(100% - 100px);
	height: 100%;

	pointer-events: none;
}
