.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	a {
		color: unset;
		padding: 5px;
	}
	div {
		display: flex;
	}
}
