.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	color: rgba(189, 189, 189, 0.459);
	a {
		text-decoration: none;
		.active {
			color: #fff;
		}
		&:hover {
			color: rgba(189, 189, 189, 0.8);
		}
	}
	div {
		display: flex;
		align-items: center;
		& > * {
			color: unset;
			padding: 5px;
		}
	}
}
